._align{
	text-align: center;
}

._started {
	font-size: 23px;
    font-weight: 400;
    margin-top: 300px !important;
    margin-bottom: 40px;
}

._button {
	margin-bottom: 200px;
	background-color: white;
	color: #011279;
	text-decoration: none;

}

._button:hover {
	text-decoration: none;
	color: white;
	background-color: #343a40;
}

.bg-primary {
	background-color: #011279 !important;
}

.col-8 {
	margin: 0 auto;
}

.btn-lg {
	font-size: 1.6rem;
	padding: .7rem 2.3rem;
	border-radius: 2.2rem;
}


