

._logo_css{
	margin-top: 3%;
	margin-bottom: 4%;
}

._heart{
	color: #4058CC;
}

._students_researchers{
	font-size: 21px;
	font-weight: 200;
}

._align{
	text-align: center;
}

._contributor{
	font-weight: 300 !important;
	font-size: 36px !important;
	color: #01229E !important;
}

._align-vertically {
	align-items: center;
}

.centered-image {
	vertical-align:middle;
	text-align:center;
	justify-content: center;
	align-items: center;
}

.row {
	justify-content: center;
}

img {
	max-width: 150px;
	width: 100%;

}

._card {
	max-width: 225px;
	width: 100%;
	max-height: 152px;
	height: 152px;
	margin: 3%;
	border-radius: 1.7rem;
}