
.link {
	color:white;
}

.link:hover {
	color: darkgrey;
	text-decoration: none;
}

.heading {
	font-weight: 500;
}

.img-css {
	width: 100%;
	height: 100%;
	align-self: middle;
}

._color{
	color: white;
}

.bg-primary {
	background-color: #011279 !important;
}

.col-md-2 {
	margin: auto;
}