
.link {
	color:white;
}

.link:hover {
	color: darkgrey;
	text-decoration: none;
}

.heading {
	font-weight: 500;
}

.img-css {
	width: 100px;
	height: 100px;
	align-self: middle;
	margin:50px 20px;
}

._color{
	color: white;
}

._pd-left{
	padding-left: 22px !important;
}

.bg-primary {
	background-color: #011279 !important;
}