.main {
  margin-top: 67px;
  background-color: #f2f2f2;
}

.intro {
	font-weight: 600;
	letter-spacing: 5px;
	font-size: 6vmax;
}

.ig-ur-re {
	font-size:2rem;	
	letter-spacing: 3px;
} 

.ign {
	font-size: 6vmax;
	font-weight: 700;
	color: #221d66;
}

.sky {
	letter-spacing: 2px;
	font-weight: 300;
}




